package {{.PackageName}}api

import (
	"{{.GoModule}}/{{.DomainPath}}/{{.PackageName}}srv"
	"github.com/gofiber/fiber/v2"
)

type {{.EntityName}}Handlers struct {
	service *{{.PackageName}}srv.{{.EntityName}}Service
}

func New{{.EntityName}}Handlers(service *{{.PackageName}}srv.{{.EntityName}}Service) *{{.EntityName}}Handlers {
	return &{{.EntityName}}Handlers{service: service}
}

// RegisterRoutes registers all {{.EntityName}} routes on the given router.
func (h *{{.EntityName}}Handlers) RegisterRoutes(router fiber.Router) {
	//group := router.Group("/{{.TableName}}")
}
